@media (max-width : 440px) {
    main {
        margin : 50px;
        display : flex;
        flex-direction: column;
    }
    
    .information {
        margin-bottom : 10px;
    }
    
    .left-top-section {
        display:flex;
        flex-direction: column;
    }
    
    .left-bottom-section {
        display: flex;
        flex-direction: column;
    }
}